* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*core colors*/
#oro .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);
  width: 100%;
  background-color: transparent;
  margin-top: 0%;
  padding-top: 0%;
  z-index: 1;
  position: static;
}
#oro .container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
#oro .container .card .card__head {
  color: black;
  background: #bdae59;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
  width: 300px;
}
#oro .container .card:hover {
  flex-grow: 8;
}
#oro .container .card:hover img {
  filter: grayscale(0);
}
#oro .container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: gold;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
#oro .container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
#oro .container .card:not(:nth-child(5)) {
  margin: -0.2em;
}

#oro {
  position: static;
}
#oro .center {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: black;*/
}
#oro .casas12 {
  background-color: black;
  z-index: 2;
  height: 500px;
}
#oro .casas12 h1 {
  background-color: black;
  height: 90%;
  color: gold;
}

/*core colors*/
.social-menu {
  width: 100%;
}

.social-menu li {
  list-style: none;
  margin: 0 10px;
}

.social-menu li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}

.social-menu li .fa:hover {
  color: gold;
}

.social-menu li a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu li:nth-child(1) a:hover {
  background-color: black;
}

.social-menu li:nth-child(2) a:hover {
  background-color: black;
}

.social-menu li:nth-child(3) a:hover {
  background-color: black;
}

.social-menu li:nth-child(4) a:hover {
  background-color: black;
}

.social-menu ul li:nth-child(5) a:hover {
  background-color: black;
}

.box1-bronce {
  height: 100px;
  background-color: black;
  margin-top: 0;
  padding-top: 30px;
}

/*core colors*/
#plata {
  background-color: #f3f3f3;
  position: static;
}
#plata h1 {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
#plata .row {
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}
#plata .row * {
  box-sizing: border-box;
}
#plata .row body {
  margin: 0;
  font-family: Arial;
}
#plata .row .header {
  text-align: center;
  padding: 32px;
}
#plata .row .row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
#plata .row .column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
#plata .row .column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(100%);
}
#plata .row img:hover {
  filter: grayscale(0%);
}
@media screen and (max-width: 800px) {
  #plata .row .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #plata .row .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px white, 0 0 30px #3a3a3a, 0 0 40px #3a3a3a, 0 0 50px #3a3a3a, 0 0 60px #3a3a3a, 0 0 70px #3a3a3a;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
}
#plata .silver-height {
  width: 100% !important;
  padding: 0;
  margin-left: 0;
}

/*core colors*/
hr {
  background: linear-gradient(to right, black, #ffff00);
  height: 2px;
  margin: 0;
  padding: 0;
}

.saint-gradient {
  background: linear-gradient(to right, black, #ffff00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.saint-titulos {
  text-align: center;
  padding: 0% 0%;
}

/*-------------------BOTONES INTRO-------------------*/
/*MODAL*/
.saint-border {
  border: 1px solid gold;
}

.saint-button {
  border-radius: 6px;
  border: 1px solid gold;
  color: gold;
  width: 150px;
  height: 70px;
}

.saint-button:hover {
  background-color: #d4d400;
}

.saint-border2 {
  border: 1px solid #ff00dd;
  height: 1010px;
}
.saint-border2 img {
  width: 100%;
  height: 100%;
}

.saint-button2 {
  border-radius: 6px;
  border: 1px solid #ff00dd;
  color: #ff00dd;
  width: 150px;
  height: 70px;
}

.saint-button2:hover {
  background-color: #d482c9;
}

html {
  scroll-behavior: smooth;
}

/******************************************************************************MENU***************************************************************************/
#header .navbar {
  background: linear-gradient(to right, black, gold);
  display: flex !important;
  position: fixed;
  width: 100%;
  z-index: 16;
}
#header .navbar img {
  margin: 0px;
  padding: 0px;
  height: 100px;
}
#header .nav1 {
  width: 15%;
  height: 100px;
  top: 0;
  z-index: 16;
  padding: 0px 10px;
  background-color: black;
}
#header .nav1 a {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  top: 0;
}
#header .nav1 a img {
  width: 100%;
  height: 100%;
}
#header .nav2 {
  width: 65%;
  height: 100px;
  left: 15%;
  background-image: linear-gradient(to right, black, #d4d400);
  /* background-image: linear-gradient(to right, black , #c4c4c4); */
  top: 0;
  z-index: 16;
}
#header .nav2 .dropdown-item.active, #header .nav2 .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to right, #000000, #ffff00);
  /* background-color: #007bff; */
}
#header .nav3 {
  /*border: 1px solid rgb(212, 226, 12);*/
  width: 20%;
  height: 100px;
  right: 0;
  background-image: linear-gradient(to right, #d4d400, #ffff00);
  /* background-image: linear-gradient(to right, #c4c4c4, #ffffff); */
  /*top: 0;*/
  z-index: 16;
  top: 0;
}
#header .nav3 ul li a {
  color: black !important;
}
#header .nav-link-black:hover {
  color: white !important;
}
#header .blackBorder {
  border-radius: 6px;
  border: 1px solid black;
}
#header .dropdown-item.active, #header .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to right, black, #ffff00);
  /* background-color: #007bff; */
}

/******************************************************************************INTROIMG***************************************************************************/
#introImg img {
  width: 100%;
}

/******************************************************************************INTRO*****************************************************************************/
#intro {
  padding-top: 20px;
  padding-bottom: 10px;
}

/******************************************************************************ORO*****************************************************************************/
.caballeros-oro {
  width: 100%;
}

.saint-button3 {
  text-decoration: none;
  border: none;
  padding: 9px 0;
  background-image: linear-gradient(to right, black, #c0a717);
  color: #619FE8;
  outline: none;
  width: 100%;
}

.caja-oro {
  width: 100%;
  border: 1px solid red;
}

/******************************************************************************ASGARD*****************************************************************************/
/*11-04-2020 cambios finales para entrega de proyecto*/
#asgard .videoAsgard {
  position: relative;
}
#asgard .videoAsgard .videoAsgard1 {
  width: 100%;
}
#asgard .videoAsgard .videoAsgard1 video {
  width: 100%;
}
#asgard .videoAsgard .text-block {
  position: absolute;
  top: 45%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.caja-asgard .asgard-1 {
  /*border: 1px solid gold;*/
  margin: 0;
  padding: 0;
}
.caja-asgard .asgard-1 .col-md-12 {
  margin: 0;
  padding: 0;
  width: 100% !important;
  /*height: 100%;*/
}
.caja-asgard .asgard-1 .col-md-12 video {
  margin: 0;
  padding: 0;
  width: 100%;
}
.caja-asgard .asgard-2 {
  margin: 0;
  padding: 0;
}
.caja-asgard .asgard-2 .col-md-3 {
  /*border: 1px solid gold;*/
}
.caja-asgard .asgard-2 .col-md-3 .asgard-warriors {
  height: 80%;
}
.caja-asgard .asgard-2 .col-md-3 .asgard-warriors img {
  height: 100%;
  filter: grayscale(100%);
}
.caja-asgard .asgard-2 .col-md-3 .asgard-warriors img:hover {
  filter: grayscale(0%);
}
.caja-asgard .asgard-2 .col-md-3 .card-body p {
  color: gold;
  text-align: center;
  border: 1px solid gold;
  /*border-radius: 25px;*/
  background-color: black;
  padding: 5px;
}
.caja-asgard .asgard-3 {
  margin: 0;
  padding: 0;
}
.caja-asgard .asgard-3 .col-md-3 {
  /*border: 1px solid gold;*/
}
.caja-asgard .asgard-3 .col-md-3 .asgard-warriors {
  height: 80%;
}
.caja-asgard .asgard-3 .col-md-3 .asgard-warriors img {
  height: 100%;
  filter: grayscale(100%);
}
.caja-asgard .asgard-3 .col-md-3 .asgard-warriors img:hover {
  filter: grayscale(0%);
}
.caja-asgard .asgard-3 .card-body p {
  color: gold;
  text-align: center;
  border: 1px solid gold;
  /* border-radius: 25px;*/
  background-color: black;
  padding: 5px;
}

/******************************************************************************FOOTER*****************************************************************************/
/******************************************************************************MEDIA QUERIES*****************************************************************************/
/*FALTA ARREGLAR LAS MEDIAQUERIES*/
/*PHONE*/
/*Tablet Style*/
/*Desktop Style*/
/*GO*/
/*npm install -D node-sass nodemon*/
/*sass --watch sass/style.scss css/style.css*/
/*1*/

/*# sourceMappingURL=style.css.map */
