/* Error: expected "{".
 *    ,
 * 13 |              background-image: url("https://drive.google.com/uc?export=view&id=1ugiq4bwxR6WLeJC24WK1NLbF92G_ILeT") !important;
 *    |                                                                                                                    ^
 *    '
 *   sass\_asgard.scss 13:116  @import
 *   sass\style.scss 17:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 13 \2502               background-image: url("https://drive.google.com/uc?export=view&id=1ugiq4bwxR6WLeJC24WK1NLbF92G_ILeT") !important;\d\a    \2502                                                                                                                     ^\a    \2575 \a   sass\\_asgard.scss 13:116  @import\a   sass\\style.scss 17:9      root stylesheet';
}
