
/*core colors*/
$gradienteOne: linear-gradient(to right, black , #d4d400);
$gradienteTwo:  linear-gradient(to right,  #d4d400 , #ffff00);
$gradienteFull: linear-gradient(to right, black , #ffff00);

/*poseidon colors*/
$color-white: #ffffff;
$color-light: #f4f4f4;
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: gold;

/* navbar-light color: rgba(0, 0, 0, 0.9); navbar-dark color: #fff;*/

$claro: #cfcfcf !important;
$oscuro: #848484 !important;