
#hades{
  
    // height: 600px;
    background-image: url("../imagenes/tresjueces.jpg") !important;
    #carouselExampleControls{
        margin-top: 100px;
        // background-image: url("../imagenes/tresjueces.jpg") !important;
        // background-color: red !important;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      // outline: gold;
      background-size: 100%, 100%;
      border-radius: 50%;
    //   border: 1px solid gold;
      // background-image: red !important;
      
    }
    
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      // color: gold;
    }
    
    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      // color: gold;
      
    }
    .embed-responsive{
      border: 1px solid rgb(183, 0, 255) !important;
    }

}

.hadestitulo{
  color: rgb(183, 0, 255);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.cajahades{
    height: 600px !important;

}