




.test{
    width: 100%;
    height: 600px;
    border: 1px solid red;
}

.test1{
    width: 50%;
    height: 300px;
    border: 1px solid blue;
    // background-color: black;
    background-image: url("https://drive.google.com/uc?export=view&id=1hycHaNGJO6fFYwESXQ1I4IsjFV36Vle5") !important;
    // background-image: url("https://drive.google.com/uc?export=view&id=1hycHaNGJO6fFYwESXQ1I4IsjFV36Vle5") !important;
    // background-color: transparent !important;
    
}
