*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import 'oro';
@import 'colors';
@import 'redes';
@import 'bronce';
@import 'plata';
@import 'genericos';
@import 'mediaq';
@import 'poseidon';
@import 'hades';



html {
    scroll-behavior: smooth;
}

/******************************************************************************MENU***************************************************************************/

#header{

    .navbar{
        // background: linear-gradient(to right, black, black 0%, black 0%, gold   100%); 
        background: linear-gradient(to right, black, gold);
        // border: 1px solid pink;
        display: flex !important;
        position: fixed;
        width: 100%;
        z-index: 16;   
    }
    .navbar-nav{
        // border: 1px solid red;
    }


    
    .navbar img{
        margin: 0px;
        padding: 0px;
        height: 100px;
        
    }

    .nav1{
        width: 15%;
        height: 100px;
        // position: fixed;
        top: 0;
        z-index: 16;    
        padding: 0px 10px;
        background-color: black;
        a{
            width: 100%;
            height: 100%;
            padding: 0px 0px;
            margin: 0px 0px;
            top: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }

    }
    .nav2{
        width: 65%;
        height: 100px;
        // position: fixed;
        left: 15%;
        // background-image: $gradienteOne; /*3*/
        /* background-image: linear-gradient(to right, black , #c4c4c4); */
        top: 0;
        z-index: 16;

        .dropdown-item.active, .dropdown-item:active{
            color: #fff;
            text-decoration: none;
            // background-image: linear-gradient(to right,  #000000 , #ffff00); /*4*/
            /* background-color: #007bff; */
        }

    }

    .nav3{
        /*border: 1px solid rgb(212, 226, 12);*/
        width: 20%;
        height: 100px;
        // position: fixed;
        right: 0;
        // background-image: $gradienteTwo; /*5*/
        /* background-image: linear-gradient(to right, #c4c4c4, #ffffff); */
        /*top: 0;*/
        z-index: 16;
        top: 0;
        ul{
            li{
                a{
                    color: black !important;
                }
            }
        }
    }



    .nav-link-black:hover{
        color: white !important;
    }

    .blackBorder{
        border-radius: 6px;
        border: 1px solid black;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-image: $gradienteFull; /*1*/
        //  background-color: #007bff;
      }
}


/******************************************************************************INTROIMG***************************************************************************/
#introImg{
    // position: relative;
    // margin-top: 70px;
    // width: 100%;
    // height: 700px;

    img{
        width: 100%;
        margin-top: 80px;
        // // height: 100%;
    }
}




/******************************************************************************INTRO*****************************************************************************/

#intro{
    padding-top: 20px;
    padding-bottom: 10px;
}

/******************************************************************************ORO*****************************************************************************/

.caballeros-oro{
    width: 100%;
}
.saint-button3{
    text-decoration: none;
    border: none;
    padding: 9px 0;
    // background-image: linear-gradient(to right, black , rgb(192, 167, 23)); /*2*/
    color:#619FE8;
    outline: none;
    width: 100%;
}

.caja-oro {
    width: 100%;
    border: 1px solid red;
}




// .test2:hover .test3{
//     // filter: grayscale(0%);
//     background-image: url("hyoga3.gif") !important;
//     background-size: cover;
// }

.bk1{
    &:hover{
        > .bk2{
            // filter: grayscale(0%) !important;
             background-image: url("hyoga3.gif") !important;
            background-size: cover;
        }
        
    }
    // &:hover{
    //     > .card-img-top{
    //             // filter: grayscale(0%);
    //             //  background-image: url("hyoga3.gif") !important;
    //             // background-size: cover;
    //             border: 1px solid gold !important;
    //             color: gold !important;
    //             filter: grayscale(0%) !important;

    //     }
    // }
    

}
.bk3{
    &:hover{
        > .bk4{
            // filter: grayscale(0%) !important;
             background-image: url("hyoga3.gif") !important;
            background-size: cover;
        }
        
    }
    // &:hover{
    //     > .card-img-top{
    //             // filter: grayscale(0%);
    //             //  background-image: url("hyoga3.gif") !important;
    //             // background-size: cover;
    //             border: 1px solid gold !important;
    //             color: gold !important;
    //             filter: grayscale(0%) !important;

    //     }
    // }
    

}

/******************************************************************************ASGARD*****************************************************************************/


/*11-04-2020 cambios finales para entrega de proyecto*/
#asgard{
    .asgards{
        // width: auto;
        // height: auto;
        border: 1px solid red;
        // background-color: black;
        // background-image: url("../imagenes/mime.png") !important;
        background-image: url("https://drive.google.com/uc?export=view&id=1hycHaNGJO6fFYwESXQ1I4IsjFV36Vle5") !important;
        // background-size:contain;
        // background-size: contain;
        background-size: cover;
        background-size: 100%;
        // width: 100%;
        height: 300px;
        background-position-x: center;
background-position-y: center;
        .asgardsimg{

        }
    }
    


    // .videoAsgard{
    //     // position: relative;
    //     .videoAsgard1{
    //         width: 100%;
    //         video{
    //             width: 100%;
    //         }
    //     }
    //     .text-block{
            
    //         // position: absolute;
    //         // bottom: 20px;
    //         // right: 20px;
    //         // top: 0%;
    //         background-color: black;
    //         color: white;
    //         // padding-left: 20px;
    //         // padding-right: 20px;
    //         width: 100%;
    //         background: rgba(0, 0, 0, 0.5);
    //         // height: 100px;
    //         // align-items:center;
    //         // height: 100px;
    //         // display: flex;
    //         // align-items:center;
    //         // justify-content: center;
    //         h1{
    //             // display: flex;
    //             // align-items:center;
    //             // justify-content: center;
    //             // margin-bottom: 0;
    //             // max-height: 100px;
    //         }
    //     }
    // }
    .video-container {
        position: relative;
      }
      video {
        height: auto;
        vertical-align: middle;
        width: 100%;
      }
      .overlay-desc {
        // background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      h2 {
        // color: white;
        // font-family: "Nobile", sans-serif;
        // font-size: 9vw;
        text-align: center;
        background: rgba(0, 0, 0, 0.5) !important;
        width: 100%;
        color: rgb(131, 131, 131);
        padding: 3px 0px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow1 1s ease-in-out infinite alternate;
      }
      
}


.caja-asgard{
    
    .asgard-1{
        /*border: 1px solid gold;*/
        margin: 0;
        padding: 0;
        .col-md-12{
            margin: 0;
            padding: 0;
            width: 100% !important;
            /*height: 100%;*/
            video{
                margin: 0;
                padding: 0;
                width: 100%;
                // height: 100%;
            }
        }
    
    }
    .asgard-2{
        margin: 0;
        padding: 0;
        // border: 1px solid red;
        .col-md-3{
            // border: 1px solid red !important;
            border: 1px solid gold;
            .asgard-warriors{
                // background-image: url("https://drive.google.com/uc?export=view&id=1hycHaNGJO6fFYwESXQ1I4IsjFV36Vle5") !important;
                // background-image: url("test.png") !important;
                height: 80%;
                // background-color: red !important;
                // border: 1px solid red;
                img{
                    background: transparent;
                    height: 100%;
                    filter: grayscale(100%);
                    // border: 1px solid red;
                }
                & img:hover{
                    filter: grayscale(0%);
                }


            }
        .card-body{
            background-color: transparent !important;
            border: 1px solid black;
            margin: 0;
            padding: 0;
            // background-image: url("hyoga3.gif") !important;
            p{
                color: black;
                text-align: center;
                border: 1px solid black;
                /*border-radius: 25px;*/
                // background-color: black;
                padding: 5px;
                // background-color: transparent !important;
                // background-image: url("hyoga3.gif") !important;
            }
             .card-text{
                // background-image: url("asgard3.jpg") !important;
                // background-size: cover !important;
            }
            
        }
        }
    }
    .asgard-3{
        margin: 0;
        padding: 0;
        // border: 1px solid red;
        .col-md-3{
            // border: 1px solid red !important;
            border: 1px solid gold;
            .asgard-warriors{
                // background-image: url("https://drive.google.com/uc?export=view&id=1hycHaNGJO6fFYwESXQ1I4IsjFV36Vle5") !important;
                // background-image: url("test.png") !important;
                height: 80%;
                // background-color: red !important;
                // border: 1px solid red;
                img{
                    background: transparent;
                    height: 100%;
                    filter: grayscale(100%);
                    // border: 1px solid red;
                }
                & img:hover{
                    filter: grayscale(0%);
                }


            }
        .card-body{
            background-color: transparent !important;
            border: 1px solid black;
            margin: 0;
            padding: 0;
            // background-image: url("hyoga3.gif") !important;
            p{
                color: black;
                text-align: center;
                border: 1px solid black;
                /*border-radius: 25px;*/
                // background-color: black;
                padding: 5px;
                // background-color: transparent !important;
                // background-image: url("hyoga3.gif") !important;
            }
             .card-text{
                // background-image: url("asgard3.jpg") !important;
                // background-size: cover !important;
            }
            
        }
        }
    }
    // .asgard-3{
    //     margin: 0;
    //     padding: 0;
    //     // border: 1px solid pink;
    //     .col-md-3{
    //         /*border: 1px solid gold;*/
    //         .asgard-warriors{
    //             height: 80%;
    //             img{
    //                 background: transparent;
    //                 height: 100%;
    //                 filter: grayscale(100%);
    //                 // border: 1px solid red;
    //             }
    //             & img:hover {
    //                 filter: grayscale(0%);
    //             }



    //         }
    //     }
    //     .card-body{
    //         background-color: transparent !important;
    //         border: 1px solid black;
    //         margin: 0;
    //         padding: 0;
    //         // background-image: url("hyoga3.gif") !important;
    //         p{
    //             color: black;
    //             text-align: center;
    //             border: 1px solid black;
    //             /*border-radius: 25px;*/
    //             // background-color: black;
    //             padding: 5px;
    //             // background-color: transparent !important;
    //             // background-image: url("hyoga3.gif") !important;
    //         }
    //          .card-text{
    //             // background-image: url("asgard3.jpg") !important;
    //             // background-size: cover !important;
    //         }
            
    //     }
    // }
}


/******************************************************************************FOOTER*****************************************************************************/


/******************************************************************************MEDIA QUERIES*****************************************************************************/
/*FALTA ARREGLAR LAS MEDIAQUERIES*/
/*PHONE*/ 

@media only screen and (max-width:420px) {



}


/*Tablet Style*/

@media only screen and (min-width:401px) and (max-width: 960px){




}

/*Desktop Style*/

@media only screen and (min-width:961px){



}
/*GO*/
/*npm install -D node-sass nodemon*/
/*sass --watch sass/style.scss css/style.css*/
/*
https://drive.google.com/file/d/1LIUJDMwbe_y4U2K5ED9Sh1CjtxLg43tt/view?usp=sharing
*/

/*1050x300 asgardd*/

